<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Dealership</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Accounts</display-name>
    <servlet-name>Accounts</servlet-name>
    <servlet-class>deal.Accounts</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>Accounts</servlet-name>
     <url-pattern>/Accounts</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>handleAccount</display-name>
    <servlet-name>handleAccount</servlet-name>
    <servlet-class>deal.handleAccount</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>handleAccount</servlet-name>
    <url-pattern>/handleAccount</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>vehicleServlet</display-name>
    <servlet-name>vehicleServlet</servlet-name>
    <servlet-class>deal.vehicleServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>vehicleServlet</servlet-name>
    <url-pattern>/vehicleServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>handleVehicles</display-name>
    <servlet-name>handleVehicles</servlet-name>
    <servlet-class>deal.handleVehicles</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>handleVehicles</servlet-name>
    <url-pattern>/handleVehicles</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Recovery</display-name>
    <servlet-name>Recovery</servlet-name>
    <servlet-class>deal.Recovery</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>Recovery</servlet-name>
     <url-pattern>/Recovery</url-pattern>
  </servlet-mapping>
</web-app>